:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #bd34fe 30%,
        #41d1ff
    );
    --vp-home-hero-image-background-image: linear-gradient(
        /* 135deg,
        #86d72f 50%,
        #d3883e 50% */ 225deg,
        #ca0b4a 50%,
        #ff8257 50%
    );
    --vp-home-hero-image-filter: blur(50px);
}
